In [2]:
# comparaison entre les acteurs présents au cinéma et dans les séries, l’âge moyen des acteurs, 
# ainsi que les films les mieux notés et les caractéristiques qu’ils partagent

In [1]:
import pandas as pd

In [2]:
#chemin_bd = r"/Users/anaellepinceloup/Documents/GitHub/IMBd_a_ignorer_df/"
chemin_bd = r"C:/Users/aure_/Desktop/Documents/bd/IMBd_a_ignorer_df/"
#chemin_bd = r"C:/Users/Lahbib/Documents/GitHub/projet2_WAAA/IMBd_a_ignorer_df/"

In [3]:
df_merge2_gros = pd.read_csv(chemin_bd + 'resultat/df_merge2a.csv')

In [4]:
df_merge2_gros

,Unnamed: 0,tconst,titleType,originalTitle,startYear,runtimeMinutes,genres,nconst,category,primaryName,primaryProfession
0,0,tt0000005,short,Blacksmith Scene,1893.0,1,"Comedy,Short",nm0443482,actor,Charles Kayser,actor
1,1,tt0000005,short,Blacksmith Scene,1893.0,1,"Comedy,Short",nm0653042,actor,John Ott,actor
2,2,tt0000007,short,Corbett and Courtney Before the Kinetograph,1894.0,1,"Short,Sport",nm0179163,actor,James J. Corbett,"actor,writer,archive_footage"
3,3,tt0000007,short,Corbett and Courtney Before the Kinetograph,1894.0,1,"Short,Sport",nm0183947,actor,Peter Courtney,actor
4,4,tt0000008,short,Edison Kinetoscopic Record of a Sneeze,1894.0,1,"Documentary,Short",nm0653028,actor,Fred Ott,"assistant_director,archive_footage"
...,...,...,...,...,...,...,...,...,...,...,...
32534733,32534733,tt9916880,tvEpisode,Horrid Henry Knows It All,2014.0,10,"Adventure,Animation,Comedy",nm2676923,actress,Joanna Ruiz,"actress,music_department"
32534734,32534734,tt9916880,tvEpisode,Horrid Henry Knows It All,2014.0,10,"Adventure,Animation,Comedy",nm2676923,actress,Joanna Ruiz,"actress,music_department"
32534735,32534735,tt9916880,tvEpisode,Horrid Henry Knows It All,2014.0,10,"Adventure,Animation,Comedy",nm2676923,actress,Joanna Ruiz,"actress,music_department"
32534736,32534736,tt9916880,tvEpisode,Horrid Henry Knows It All,2014.0,10,"Adventure,Animation,Comedy",nm1469295,actress,Emma Tate,"actress,miscellaneous,writer"
32534737,32534737,tt9916880,tvEpisode,Horrid Henry Knows It All,2014.0,10,"Adventure,Animation,Comedy",nm1469295,actress,Emma Tate,"actress,miscellaneous,writer"

In [5]:
df_merge_actorC = df_merge2_gros.drop(columns=['Unnamed: 0', 'runtimeMinutes', 'primaryProfession'])

In [ ]:
top_5_actors_per_periodf.to_csv(chemin_bd + 'resultat/df_top_5_actors_per_periodfa.csv', index = False)

In [1]:
df_TMBd= pd.read_csv(chemin_bd + 'tmdb_full.csv')

NameError: name 'pd' is not defined